<!DOCTYPE html>
<html>
  <head>
    <title>Aperture</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href=<%= image_url('logo.png') %> >

  </head>

  <body>
    <%= yield %>
  </body>
</html>
